body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
}

a {
    color: white;
    text-decoration: none;
    margin: 5px;
}

body {
    margin: 0;
}
footer {
    margin-top: auto;
}
